@model Category

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit" class="btn btn-success mt-2">Create</button>
    <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>

</form>